<h1>ログイン</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :account_id %>
  <%= f.text_field :account_id %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "ログイン" %>
<% end %>