<h1>メニュートップ</h1>
<p>こんにちは　<%= @current_user.user_name %>さん</p>


<h2>お金</h2>
<%= link_to "収入・支出一覧を見る", "/savings"%>
<p>現在 貯金は<%= %>円です</p>


<h2>食品</h2>
<%= link_to "食品一覧を見る", "/foods" %>
<p>期限が3日以内の食品が<%= %>個あります</p>




<p><%= link_to "ログアウト", logout_path, method: :delete %></p>