<p id="notice"><%= notice %></p>

<h1>管理者画面</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">アカウントID</th>
      <th scope="col">パスワード</th>
      <th scope="col">利用者名</th>
      <th scope="col">管理者判別</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td scope="row"><%= user.account_id %></td>
        <td><%= user.passward %></td>
        <td><%= user.user_name %></td>
        <td><%= user.admin %></td>
        <td><%= link_to '詳細', user %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: 'このユーザーを削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '利用者登録', new_user_path %>