<%= form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2>エラーが発生しました:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :食品名 %>
    <%= form.text_field :food_name ,disabled: true %>
  </div>

  <div class="field">
    <%= form.label :カテゴリー %>
    <%= form.select :category_id, Category.where(user_id: @current_user.id).map { |c| [c.category_name, c.id]} , {}, { disabled: true } %> 
  </div>

  <div class="field">
    <%#= form.label :賞味・消費 %>
    <%#= form.number_field :syoumi_syouhi %>
    <%= form.radio_button :syoumi_syouhi, 0 , { disabled: true } %>
    <%= form.label :syoumi_syouhi, "賞味", {value: 0, style: "display: inline-block;"} %>
    <%= form.radio_button :syoumi_syouhi, 1 , { disabled: true }%>
    <%= form.label :syoumi_syouhi, "消費", {value: 1, style: "display: inline-block;"} %>
  </div>

  <div class="field">
    <%= form.label :期限日 %>
    <%= form.date_select :expiration_date, use_month_numbers:true ,disabled: true%>
  </div>

  <div class="field">
    <%= form.label :購入日 %>
    <%= form.date_select :purchase_date, use_month_numbers:true ,disabled: true%>
  </div>

  <div class="field">
    <%= form.label :個数 %>
    <%= form.number_field :quantity ,readonly: true%>
  </div>

  <div class="field">
    <%= form.label :消費数 %>
    <%= form.number_field :consumption%>
  </div>

  <%= form.hidden_field :consumption_how, :value => 1 %>
  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
