<p id="notice"><%= notice %></p>

<h1>食品一覧</h1>

<%= form_tag('/foods_search') do %>
<p>
カテゴリー名
<br>
<%= select_tag "search[category_id]",options_from_collection_for_select(Category.where(user_id: @current_user.id),"id","category_name", @category_id), include_blank: true%>
<%= check_box_tag "search[zeroflag]", true, @zeroflag %>
０個を表示
<%#= form.select :category_id, Category.where(user_id: @current_user.id).map { |c| [c.category_name, c.id]} %> 
<%#= text_field_tag'search[month]', @month%><%=submit_tag'検索' %>
</p>
<%end%>

<table class="table table-striped" >
  <thead>
    <tr>
      <th>食品名</th>
      <th>カテゴリー</th>
      <th width="90">賞味・消費</th>
      <th width="100">期限日</th>
      <th width="100">購入日</th>
      <th width="63">個数</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.food_name %></td>
        <td><%= food.category.category_name %></td>
        <% if food.syoumi_syouhi == 0 %>
          <td>賞味期限</td>
        <% else %>
          <td>消費期限</td>
        <% end %>
        <td><%= food.expiration_date %></td>
        <td><%= food.purchase_date %></td>
        <td style="text-align: right"><%= food.quantity %>個</td>
        <td style="text-align: center"><%= link_to '消費', syouhi_food_path(food) %></td>
        <td style="text-align: center"><%= link_to '詳細', food %></td>
        <td style="text-align: center"><%= link_to '編集', edit_food_path(food) %></td>
        <td style="text-align: center"><%= link_to '削除', food, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '新しく入力', new_food_path %>